@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NekoUchi</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/NekoUchi.svg" alt="NekoUchi" height="70" width="60" class="img-responsive" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Profil</a></li>
                    <li><a asp-area="" asp-controller="Word" asp-action="Index">Riječi</a></li>
                    @{
                        if (ViewData.Keys.Contains("token"))
                        {
                            <li><a asp-area="" asp-controller="Course" asp-action="Index" asp-route-token="@ViewData["token"]">Tečajevi</a></li>
                        }
                    }                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (ViewData.Keys.Contains("token"))
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Logout" asp-route-token="@ViewData["token"]">Odjava</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Register">Registracija</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Login">Prijava</a></li>
                        }
                    }                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - NekoUchi</p>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>