@model IEnumerable<NekoUchi.MVC.Model.SubscribedCourseView>

@{
    ViewData["Title"] = "Upisani tečajevi";
}

<h3>Upisani tečajevi</h3>

<table class="table">
    <tr>
        <th>
            Ime tečaja
        </th>
        <th>
            Ime autora
        </th>
        <th>
            Opis
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@item.Identification" asp-route-token="@ViewData["token"]">@Html.DisplayFor(modelItem => item.CourseName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="subscriptionLink" id="@item.Identification+@ViewData["token"]">Pretplati se</a>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $('.subscriptionLink').on('click', '',
        function (e) {
            var id = e.id;
            $.ajax({
                type: "POST",
                url: "/Course/Subscribe",
                contentType: "application/json; charset=utf-8",
                data: id,
                success: function () {
                    alert("Uspješno ste se pretplatili.");
                },
                error: function () {
                    alert("Došlo je do pogreške...");
                }
            });
        });
</script>

