@model IEnumerable<NekoUchi.MVC.Model.SubscribedCourseView>

@{
    ViewData["Title"] = "Tečajevi";
}

<h2>Tečajevi</h2>

<table class="table">
<tr>
    <th>
        Ime tečaja
    </th>
    <th>
        Ime autora
    </th>
    <th>
        Opis
    </th>
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <a asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@item.Identification" asp-route-token="@ViewData["token"]">@Html.DisplayFor(modelItem => item.CourseName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a asp-area="" asp-controller="Course" asp-action="Subscribe" asp-route-id="@item.Identification" asp-route-token="@ViewData["token"]">Pretplati se</a>
        </td>
    </tr>
}
</table>

